aenum==3.1.0
ansicon==1.89.0
anyio==3.2.1
appdirs==1.4.4
APScheduler==3.7.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==18.1.0
azure-core==1.17.0
azure-storage-blob==12.8.1
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bkcharts==0.2
bleach==3.3.0
blessed==1.18.0
blinker==1.4
bokeh==0.12.6
bs4==0.0.1
case-conversion==2.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chart-studio==1.1.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
clipboard==0.0.4
colorama==0.4.4
colour==0.1.5
ConfigArgParse==1.2.3
coursera-dl==0.11.5
cryptography==3.4.8
cursor==1.3.4
cycler==0.10.0
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.1
entrypoints==0.3
et-xmlfile==1.1.0
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Excel==0.0.7
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
flyingcircus==0.1.3.2
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
greenlet==1.0.0
gunicorn==20.1.0
html-text==0.5.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
infi.systray==0.1.12
inflect==5.3.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
jinxed==1.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
keyring==21.5.0
kiwisolver==1.3.1
lml==0.1.0
lxml==4.6.3
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.4.2
matplotlib-inline==0.1.2
maybe-else==0.2.1
mbstrdecoder==1.0.1
mistune==0.8.4
moviepy==1.0.3
msal==1.13.0
msoffcrypto-tool==4.12.0
msrest==0.6.21
mutagen==1.45.1
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
news==1.0
nltk==3.6.2
notebook==6.4.0
numpy==1.20.2
O365==2.0.15
oauthlib==3.1.1
office365==0.3.15
Office365-REST-Python-Client==2.3.6
olefile==0.46
openpyexcel==2.5.14
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parsedatetime==2.6
parso==0.8.2
pathmagic==0.3.14
pdfkit==0.6.1
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.17
pipenv==2020.11.15
plotly==4.14.3
prettierfier==1.0.3
proglog==0.1.9
prometheus-client==0.11.0
prompt-toolkit==3.0.19
psycopg2==2.8.6
pyasn1==0.4.8
pycparser==2.20
pydub==0.25.1
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pygame==2.0.1
Pygments==2.9.0
pygoogle==0.6
pygooglenews==0.1.2
pyinstrument==4.0.3
pyiotools==0.3.18
PyJWT==1.7.1
pymiscutils==0.3.14
pymongo==3.12.0
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
pysubtypes==0.3.18
python-dateutil==2.7.5
python-docx==0.8.11
pytk==0.0.2.1
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==3.13
pyzmq==22.1.0
readchar==3.0.4
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
setuptools-scm==6.0.1
simplejson==3.17.5
six==1.15.0
sniffio==1.2.0
soupsieve==2.1
SQLAlchemy==1.2.19
stringcase==1.2.0
tabulate==0.8.9
terminado==0.9.5
testpath==0.5.0
texttable==1.6.4
tornado==6.1
touch==2020.12.3
tqdm==4.61.2
traitlets==5.0.5
twilio==6.61.0
typepy==1.2.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
values==2020.12.3
virtualenv==20.4.3
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
xlrd==2.0.1
XlsxWriter==3.0.1
