/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
  --surface-color: #fff;
  --curve: 40;
  overflow: auto;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



body {
  background-color: black !important;
}

html{
  scroll-behavior: smooth;
    overflow: hidden;
}


                               /*    navbar    */

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* navbar styling */
.navbar{
    position: fixed !important;
    top:0;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: black;
    
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}


nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: #ededed;
}

nav a:nth-child(1):after
{
    background-color: crimson;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

/* END navbar style */

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
 /*   Events  */


.container{
  position: relative;
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.container div{
  width: 700px;
  
}
.container .item{
  margin: 35px 10px;
}

.card {
  position: relative;
  display: block;
  /*height: 100%;  */
  border-radius: calc(var(--curve)*1px);
  -webkit-border-radius: calc(var(--curve)*1px);
  -moz-border-radius: calc(var(--curve)*1px);
  -ms-border-radius: calc(var(--curve)*1px);
  -o-border-radius: calc(var(--curve)*1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 500px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);  
  background-color: var(--surface-color); 
  transform: translateY(100%);     
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.card__header {
  position: relative;
  display: block;
  align-items: center;
  padding: 2em;
  width: fit-content;
  border-radius: calc(var(--curve) * 1px) 0 0 0; 
  -webkit-border-radius: calc(var(--curve) * 1px) 0 0 0;    
  -moz-border-radius: calc(var(--curve) * 1px) 0 0 0;    
  -ms-border-radius: calc(var(--curve) * 1px) 0 0 0;    
  -o-border-radius: calc(var(--curve) * 1px) 0 0 0;       
  background-color: var(--surface-color);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
/*  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");*/
}       

.card:hover .card__header {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}



.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: grey;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  height: 100%;
  color: #000;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
} 

/* footer */
footer{
    width: 100%;
    height: auto;
    background-color:black;
    color: rgba(240, 248, 255, 0.596);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    }
    footer .box_1{
    width: 300px;
    height:fit-content;
    margin: 10px;
    padding: 10px;
    }
    footer p{
    font-size: large;
    color: rgba(240, 248, 255, 0.596);
    }
    footer .box_2{
    width: 300px;
    margin: 10px;
    padding: 1px;
    }
    footer .box_3{
    width: 200px;
    text-align: center;
    margin: 10px;
    }
    footer .box_3 ul li{
    list-style: none;
    font-size: large;
    }
    footer .box_4{
    width: 300px;
    text-align: center;
    margin: 10px;
    height: fit-content;
    }
    footer .box_4 p{
    margin: auto;
    margin-top: 10px;

    }
    footer .box_4 i{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    }
    footer .box_4 p .fab:hover{
    transform: scale(1.1);
    }
    footer .box_4 a:nth-child(1){
    color:rgb(182, 33, 182);
    }
    footer .box_4 a:nth-child(2){
    color:blue;
    }
    footer .box_4 a:nth-child(3){
    color:red;
    }
    footer .box_4 a:nth-child(4){
    color:rgb(0, 119, 255);
    }
    footer .box_4 a:nth-child(5){
    color:blue;
    }
    /* Menu */
      
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      
      a {
        text-decoration: none;
      }
      
      .menu-hover-fill li {
        position: relative;
      }
      .menu-hover-fill li::before {
        position: absolute;
        content: "";
        top: 0;
        left: -1rem;
        width: 0.25rem;
        height: 100%;
        background: #fff;
        color: #fff;
        transition: 0.6s;
      }
      .menu-hover-fill li a {
        --menu-link-color: #cfcfcf;
        position: relative;
        background: linear-gradient(blue 0 100%) left/0 no-repeat;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: background-size 0.45s 0.04s;
        color: #cfcfcf;
      }
      .menu-hover-fill li a::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: var(--menu-link-color);
      }
      /* .menu-hover-fill li {
        --menu-link-active-color: #fff;
      }
       .menu-hover-fill li:nth-child(2) {
        --menu-link-active-color: crimson;
      }
      .menu-hover-fill li:nth-child(3) {
        --menu-link-active-color: var(--success-color);
      }
      .menu-hover-fill li:nth-child(4) {
        --menu-link-active-color: var(--warning-color);
      }
      .menu-hover-fill li:nth-child(5) {
        --menu-link-active-color: var(--danger-color);
      }  */
      .menu-hover-fill li:hover::before {
        left: calc(100% + 1rem);
      }
      .menu-hover-fill li:hover a {
        background-size: 100%;
      }
    /* Social Media */
    .social-links{
        text-decoration: none;
    }
    /* Start Social Media Icons */
    .social-svg:hover{
        transform: scale(
        1.5
        );
        margin: 5px;
  }
/* End Footer */



/* responsive media query start */
@media only screen and (max-width: 991px) {
    .navbar{
        width: 100%;
    }
    .navbar .max-width{
        align-items: left;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .card__image {      
        width: 100%;
        height: 300px;
      }
    .item {
        height: 300px;
    }
    .card__overlay {
        height: 100%;
      }
      
    .card:onclick .card__overlay {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    
    .card:onclick .card__header {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .card__description {
    width: 250px;
    overflow:scroll;
    padding-bottom: 100px !important;
  }
  .card__title{
      font-size:small !important;
  }
}
                             
      