/*  import google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-family: 'Libre Baskerville', serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* navbar styling */
.navbar{
    position: fixed !important;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}


nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: #ededed;
}

nav a:nth-child(1):after
{
    background-color: crimson;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

/* END navbar style */

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
 /* main code    */
  

 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 * {
   font-family: "Poppins", sans-serif;
 }
 
 
 .container {
   position: relative;
   padding: 100px;
 }
 
.card {
   position: relative;
   width: 320px;
   height: 320px;
   background: #232323;
   border-radius: 20px;
   overflow: hidden;   
 }
 
 /* .container .card:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #9bdc28;
   clip-path: circle(150px at 80% 20%);
   transition: 0.5s ease-in-out;
 }
 
 .container .card:hover:before {
   clip-path: circle(300px at 80% -20%);
 } */
 
 .container .card:after {
   /* content: "Nike"; */
   position: absolute;
   top: 30%;
   left: -20%;
   font-size: 12em;
   font-weight: 800;
   font-style: italic;
   color: rgba(255, 255, 25, 0.05);
 }
 
 .container .card .imgBx {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10000;
   width: 100%;
   height: 220px;
   transition: 0.5s;
 }
 
 .container .card:hover .imgBx {
   top: 0%;
   transform: translateY(0%);
 }
 
 /* .container .card .imgBx img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-25deg);
   width: 270px;
 } */
 
 .container .card .contentBx {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 70px;
   text-align: center;
   transition: 1s;
   z-index: 10;
 }
 
 .container .card:hover .contentBx {
   height: 210px;
 }
 
 .container .card .contentBx h2 {
   position: relative;
   font-weight: 600;
   letter-spacing: 1px;
   /* color: #fff; */
   margin: 0;
 }
 
 .container .card .contentBx .size,
 .container .card .contentBx .color {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 20px;
   transition: 0.5s;
   opacity: 0;
   visibility: hidden;
   padding-top: 0;
   padding-bottom: 0;
   color: #fff;
 }
 
 .container .card:hover .contentBx .size {
   opacity: 1;
   visibility: visible;
   transition-delay: 0.5s;
 }
 
 .container .card:hover .contentBx .color {
   opacity: 1;
   visibility: visible;
   transition-delay: 0.6s;
 }
 
 .container .card .contentBx  h4,
 .container .card .contentBx  h4 {
   /* color: #fff; */
   font-weight: 300;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-right: 10px;
   color: #fff;
 }
 .container .card .contentBx  p,
 .container .card .contentBx  p {
   /* color: #fff; */
   font-weight: 300;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-right: 10px;
   color: #fff;
 }
 .container .card .contentBx .size span {
   width: 26px;
   height: 26px;
   text-align: center;
   line-height: 26px;
   font-size: 14px;
   display: inline-block;
   color: #111;
   background: none;
   margin: 0 5px;
   transition: 0.5s;
   color: #111;
   border-radius: 4px;
   cursor: pointer;
 }
 
 .container .card .contentBx .size span:hover {
   background: #9bdc28;
 }
 
 .container .card .contentBx .color span {
   width: 20px;
   height: 20px;
   background: #ff0;
   border-radius: 50%;
   margin: 0 5px;
   cursor: pointer;
 }
 
 .container .card .contentBx .color span:nth-child(2) {
   background: #9bdc28;
 }
 
 .container .card .contentBx .color span:nth-child(3) {
   background: #03a9f4;
 }
 
 .container .card .contentBx .color span:nth-child(4) {
   background: #e91e63;
 }
 
 .container .card .contentBx a {
   display: inline-block;
   padding: 10px 20px;
   background: none;
   border-radius: 4px;
   margin-top: 5px;
   text-decoration: none;
   font-weight: 600;
   color: #111;
   opacity: 0;
   transform: translateY(50px);
   transition: 0.5s;
   margin-top: 0;
 }
 
 .container .card:hover .contentBx a {
   opacity: 1;
   transform: translateY(0px);
   transition-delay: 0.75s;
 }
 .card-2{
   margin-left: 25%;
 }

/* footer */
footer{
    width: 100%;
    height: auto;
    background-color:black;
    color: rgba(240, 248, 255, 0.596);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    }
    footer .box_1{
    width: 300px;
    height:fit-content;
    margin: 10px;
    padding: 10px;
    }
    footer p{
    font-size: large;
    color: rgba(240, 248, 255, 0.596);
    }
    footer .box_2{
    width: 300px;
    margin: 10px;
    padding: 10px;
    }
    footer .box_3{
    width: 200px;
    text-align: center;
    margin: 10px;
    }
    footer .box_3 ul li{
    list-style: none;
    font-size: large;
    }
    footer .box_4{
    width: 300px;
    text-align: center;
    margin: 10px;
    height: fit-content;
    }
    footer .box_4 p{
    margin: auto;
    margin-top: 10px;

    }
    footer .box_4 i{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    }
    footer .box_4 p .fab:hover{
    transform: scale(1.1);
    }
    footer .box_4 a:nth-child(1){
    color:rgb(182, 33, 182);
    }
    footer .box_4 a:nth-child(2){
    color:blue;
    }
    footer .box_4 a:nth-child(3){
    color:red;
    }
    footer .box_4 a:nth-child(4){
    color:rgb(0, 119, 255);
    }
    footer .box_4 a:nth-child(5){
    color:blue;
    }
    /* Menu */
      
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      
      a {
        text-decoration: none;
      }
      
      .menu-hover-fill li {
        position: relative;
      }
      .menu-hover-fill li::before {
        position: absolute;
        content: "";
        top: 0;
        left: -1rem;
        width: 0.25rem;
        height: 100%;
        background: #fff;
        color: #fff;
        transition: 0.6s;
      }
      .menu-hover-fill li a {
        --menu-link-color: #cfcfcf;
        position: relative;
        background: linear-gradient(blue 0 100%) left/0 no-repeat;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: background-size 0.45s 0.04s;
        color: #cfcfcf;
      }
      .menu-hover-fill li a::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: var(--menu-link-color);
      }
      /* .menu-hover-fill li {
        --menu-link-active-color: #fff;
      }
       .menu-hover-fill li:nth-child(2) {
        --menu-link-active-color: crimson;
      }
      .menu-hover-fill li:nth-child(3) {
        --menu-link-active-color: var(--success-color);
      }
      .menu-hover-fill li:nth-child(4) {
        --menu-link-active-color: var(--warning-color);
      }
      .menu-hover-fill li:nth-child(5) {
        --menu-link-active-color: var(--danger-color);
      }  */
      .menu-hover-fill li:hover::before {
        left: calc(100% + 1rem);
      }
      .menu-hover-fill li:hover a {
        background-size: 100%;
      }
    /* Social Media */
    .social-links{
        text-decoration: none;
    }
    /* Start Social Media Icons */
    .social-svg:hover{
        transform: scale(
        1.5
        );
        margin: 5px;
  }
    /* End Footer */

/* responsive media query start */
@media only screen and (max-width: 991px) {
    .navbar{
        width: 100%;
    }
    .navbar .max-width{
        align-items: left;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .card-2{
      margin:0%;
      padding: 0%;
      margin-left: 0%;
    }
    .card {
      position: relative;
      width: 250px;
      height: 250px;
      background: #232323;
      border-radius: 20px;
      overflow: hidden;   
    }
    .chair{
      padding: 0%;
      margin-left: 7%;
    }
    /* Used to remove horizontal Scrollbar */
      html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }    
}
  